@charset "utf-8";

/* CSS Document */
:root{

    /*	color scheme*/
        --brs-dark-blue: #003366;
        --brs-yellow: #FBAC40;
        --brs-red: #EF4136;
		--brs-light-grey-background: #f8f8f8;
		--brs-light-grey-tbackground: #efeded;
		--brs-darkest-grey: #4d4d4d;	
		--brs-title-grey: #4b4b4b;	
		--brs-mid-grey: #999999;
		--brs-dark-grey-opacity: #1b1b1bee;
		--brs-gradient: linear-gradient(to right, #ef4136, #f56132, #f87c31, #fa9436, #fbac40);

	}     	



* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    
}


body {
	font-family: forma-djr-display, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: var(--brs-darkest-grey);
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	
}

.bcopy {

font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 0.8rem;
color: var(--brs-darkest-grey);
}

.dropcap {
	color: var(--brs-red);
	font-size: 5.4rem;
	float:left;
	line-height: 60px;
}

.title-r {
	font-size: 3rem;
	color: var(--brs-darkest-grey);
	text-align: right;
	margin-right: 2.5rem;
	border-left: 8px solid var(--brs-darkest-grey);
	margin-left: 2rem;
	z-index:100;
}

.sectitleleft {
	position: relative;
}

.crossright {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	right:0;
	transform: translate(5rem, 2.5rem);
	z-index:-1;
	object-fit: cover;
}

.title-r:first-child {
	padding-top: 2.5rem;
}

.title-l:first-child {
	padding-top: 2.5rem;
}

.sectitleleft::after {
	content: "";
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	right:100;
	transform: translate(4.9rem, 2.4rem);
	z-index:-2;
	background-color: var(--brs-light-grey-tbackground);
	
}

.title-l {
	font-size: 3rem;
	color: var(--brs-darkest-grey);
	text-align: left;
	margin-left: 2.5rem;
	border-right: 8px solid var(--brs-darkest-grey);
	margin-right: 2rem;
	z-index:100;
}

.sectiontitleright {
	position: relative;
}

.sectitleright::after {
	content: "";
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	bottom:100;
	z-index:-2;
	background-color: var(--brs-light-grey-tbackground);
	transform: translate(-5rem, 2rem);
}



.crossleft {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	object-fit: cover;
	transform:translate(-5rem, 2rem) scale(-1,1);
	
}

.slogo {
	height:75%;
	z-index: -1;
	position:absolute;
	top:2.5rem;
	right:5.5rem;
	opacity: 0.5;
	
}

.mlogo {
	height:110%;
	position:absolute;
	top:0;
	opacity:0.25;
	z-index: -1;
	margin-left: 2.5rem;
}

.slogoleft {
	height:75%;
	z-index: -1;
	position:absolute;
	top:2.5rem;
	left:5.5rem;
	opacity: 0.5;
	
}

.mlogoleft {
	height:110%;
	position:absolute;
	top:0;
	opacity:0.25;
	z-index: -1;
	right:0;
	margin-right: 2.5rem;
}

/* nav styling start */
header  {
    height:10vh;
	background-color: rgba(red, green, blue, 0);
	position: fixed;
	width:100%;
	display:flex;
	justify-content: space-between;
	z-index:999;
}

.nav-toggle {
	display:none;
}

.nav-toggle-label {
	position:absolute;
	top:0;
	left:0;
	margin-left: 2.5rem;
	height:100%;
	display:flex;
	align-items: center;
}

.nav-toggle-label span {
	display:block;
	background:white;
	height: 3.5px;
	width: 1.75em;
	border-radius: 2px;
	position:relative;
	cursor: pointer;
	background: var(--brs-red); }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display:block;
	background:white;
	height: 3.5px;
	width: 2.5em;
	border-radius: 2px;
	position:relative;
	cursor: pointer;
	background: var(--brs-red);
  	
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position:absolute;
}

.nav-toggle-label span::before {
	bottom:9px;
}

.nav-toggle-label span::after {
	top:9px;
}

nav {
	position:absolute;
	top:0;
	left:0;
	background: var(--brs-dark-grey-opacity);
	width:100%;
	height:100vh;
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out; 
}

nav ul {
	margin:0;
	padding:0;
	list-style: none;
	margin-top:5vh;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

nav li {
	margin-bottom: 1em;
	margin-left: 2.5rem;
}

nav a {
	color: var(--brs-light-grey-background);
	text-decoration: none;
	font-size: 2rem;
	text-transform: uppercase;
	opacity:0;
	transition: opacity 250ms ease-in-out;
}

nav a:hover {
	color: var(--brs-red);
	font-style: italic;
}


.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

.logotext {
	position:absolute;
	top:5%;
	right:0;
	margin-right: 2.5rem;
	height:100%;
	display:flex;
	align-items: center;
	font-size: 3.5em;
	font-family: proxima-nova, sans-serif;
	font-weight: 900;
	font-style: normal;
	background: var(--brs-gradient);
	background-clip:text;   
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


/* nav styling end */

.hero {
	min-height:100vh;
	background-color: var(--brs-light-grey-background);
	position:relative;
	overflow: hidden;
	
}

.hero h1 {
	
	font-size: 3.8rem;
	margin-top:15vh;
	margin-left:2rem;
	z-index: 10;
	padding-left: 1rem;
	font-weight: 700;
	border-left: 8px solid var(--brs-title-grey);
	
	
}

.hero h2 {
	margin-left:2rem;
	z-index: 10;
	padding-left: 1rem;
	color: var(--brs-title-grey);
	font-size: 2rem;
	font-weight: 1200;
  	-webkit-text-fill-color:var(--brs-light-grey-background); /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: var(--brs-title-grey);
	border-left: 8px solid var(--brs-title-grey);
}



.about {
	min-height:auto;
	background-color: var(--brs-light-grey-background);
	position:relative;
	overflow: hidden;
	z-index: 0;
	
	
}

.bground {
	background-color: var(--brs-mid-grey);
	height:auto;
	width:auto;
	margin-right:2.5rem;
	margin-top:4.5rem;
	display:flex;
	flex-direction: column;
	margin-bottom: 2rem;

}


.about h2 {
	font-size: 3.5rem;
	margin-left:2.5rem;
	margin-top:2rem;
}

.about h3 {
	font-size: 3.5rem;
	color: var(--brs-mid-grey);
	padding-right: 12px;
	text-align: right;
	-webkit-text-fill-color:var(--brs-mid-grey); /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: var(--brs-light-grey-background);
	margin-left:2.5rem;
	border-bottom: 1px solid var(--brs-light-grey-background);
	
}
	
.aboutimg {
	width:200px;
	object-fit: cover;
	align-self: center;
	transform: translate(10%);
	height:200px;
	border-radius: 50%;
}


.about p {
	margin-top:1rem;
	background-color: var(--brs-light-grey-opacity2);
	margin-left: 2.5rem;
	margin-right: 12px;
	max-width: 400px;
	color:var(--brs-light-grey-background);
	z-index: 1;
	text-align: justify;
	
}

.about .bground p:last-child {
	margin-bottom:4rem;
}

.about .inlinecontact {
	text-decoration: none;
	writing-mode: vertical-lr;
	font-size: 3rem;
	position:absolute;
	bottom:0;
	right:0;
	z-index: 10000;
	color: var(--brs-title-grey);
	font-size: 2.8rem;
	font-weight: 700;
  	-webkit-text-fill-color:var(--brs-light-grey-background); /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: var(--brs-title-grey); 
	transform: rotate(180deg);
}

.about a:hover {
	-webkit-text-fill-color: var(--brs-dark-blue);
	font-style: italic;
}

.what {
	height:auto;
	background-color: var(--brs-light-grey-background);
	position:relative;
	overflow: hidden;
	z-index: -2;
}

.what h3 {
	border-bottom: 1px solid var(--brs-darkest-grey);
	z-index:100;
	margin-bottom: 5rem;
}

.what p {
	margin-top:1rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	color:var(--brs-darkest-grey);
	z-index: 1;
	padding: 2px;
	text-align: justify;
}

.oview {
	height: 300px;
	width:100%;
}

.intro {
	position:relative;
}

.lastp {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top:0.5rem;
	font-size: 1.2rem;
	z-index: 1;
	background: var(--brs-gradient);
	background-clip:text;   
	-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  font-weight: 400;
}

.intro .lastp {
	border-top: 2px solid var(--brs-red);
}

.energyergo {
	height:auto;
	background-color: var(--brs-light-grey-background);
	position:relative;
	z-index: -2;
}

.energyergo .title-l:first-child {
	padding-top: 7rem;
}
.sectorimagerightalign {
	margin-top: 2rem;
	width:100%;
	object-fit: cover;
	transform: translate(2.5rem)
}

.sectorimageleftalign {
	margin-top: 2rem;
	width:100%;
	object-fit: cover;
	transform: translate(-2.5rem)
}

.infocard {
	position:relative;
	margin-top: 2.5rem;
	margin-bottom:2.5rem;
}

.infocard h4 {
	border-top: 1px solid var(--brs-mid-grey);
	text-transform: uppercase;
	font-size: 0.7rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	color: var(--brs-mid-grey)
}
.infocard p {
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
	margin-left: 4rem;
	margin-right: 2.5rem;
	max-width: 400px;
	font-size: 0.9rem;
	color:var(--brs-darkest-grey);
	z-index: 1;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: italic;
}

.energyergo h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}

.bphysics {
	position:relative;
}

.bphysics .title-r:first-child {
	padding-top: 7rem;

}
.bphysics h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}

.lastpr {
	text-align: right;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top:0.5rem;
	font-size: 1.2rem;
	font-weight: 400;
	z-index: 1;
	background: var(--brs-gradient);
	background-clip:text;   
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.sustainablecommunities {
	position:relative;
}

.sustainablecommunities .title-l:first-child {
	padding-top: 7rem;
}

.sustainablecommunities h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}

.assetsurveying {
	position:relative;
}

.assetsurveying .title-r:first-child {
	padding-top: 7rem;
}

.assetsurveying h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}


.getintouch {
	position:relative;
	background-color: var(--brs-darkest-grey);
	z-index: -10;
	height:auto;
}

.getintouch .sectitleright::after {
	background-color: var(--brs-mid-grey);
}

.getintouch .title-l:first-child {
	padding-top: 7rem;
}

.getintouch h1 {
	color: var(--brs-light-grey-background);
	border-right: 8px solid var(--brs-light-grey-background);
}

.getintouch h2 {
	color: var(--brs-light-grey-background);
	border-bottom: 1px solid var(--brs-light-grey-background);
	border-right: 8px solid var(--brs-light-grey-background);
}

.infocardlast {
	position:relative;
	padding-top: 2.5rem;
	padding-bottom:1rem;
	background-color: var(--brs-darkest-grey);
	z-index: -10;
	height:auto;
}

.infocardlast h4 {
	border-top: 1px solid var(--brs-light-grey-background);
	text-transform: uppercase;
	font-size: 0.7rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	color: var(--brs-mid-grey)
}
.fbody {
	margin-top: 0.9rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	font-size: 0.9rem;
	color:var(--brs-light-grey-background);
	z-index: 1;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-bottom:2.5rem;
}

.flogo {
	margin-top: 2.5rem;
	width:auto;
	z-index: -1;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.infocardlast ul {
	color: var(--brs-mid-grey);
	list-style: none;
	display: flex;
	justify-content: center;
	
}

.infocardlast a {
	text-decoration: none;
	padding: 5px;
	color: var(--brs-mid-grey);
}



.smallprint {
	margin-top: 0.9rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	font-size: 0.7rem;
	color:var(--brs-mid-grey);
	z-index: 1;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-bottom:2.5rem;
	text-align: center;
}

@media screen and (min-width: 741px) {
.hero {
	
}
.about {
	
}
.what {
	
}
.where {
	
}
.contact {
	
}

}

@media screen and (min-width: 1024px) {
	.hero {
		all:unset;
	}
	.about {
		display:none;
	}
	.what {
		display:none;
	}
	.where {
		display:none;
	}
	.contact {
		display:none;
	}


}