@charset "utf-8";

/* CSS Document */
:root{

    /*	color scheme*/
        --brs-dark-blue: #003366;
        --brs-yellow: #FBAC40;
        --brs-red: #EF4136;
		--brs-light-grey-background: #f8f8f8;
		--brs-light-grey-tbackground: #efeded;
		--brs-darkest-grey: #4d4d4d;	
		--brs-title-grey: #4b4b4b;	
		--brs-mid-grey: #999999;
		--brs-dark-grey-opacity: #1b1b1bee;
		--brs-gradient: linear-gradient(to right, #ef4136, #f56132, #f87c31, #fa9436, #fbac40);

	}     	



* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    
}


body {
	font-family: forma-djr-display, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: var(--brs-darkest-grey);
	width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
	overflow-x: clip; 
	background-color: var(--brs-light-grey-background);
	z-index: 0;
	
}



.bcopy {

font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 0.8rem;
color: var(--brs-darkest-grey);
}

.dropcap {
	color: var(--brs-red);
	font-size: 5.4rem;
	float:left;
	line-height: 60px;
}



.crossright {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	right:2.5rem;
	transform: translate(5rem, 2.5rem);
	z-index:1;
	object-fit: cover;
}

.crossleft {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	object-fit: cover;
	transform:translate(-3rem, 2rem) scale(-1,1);
	
}

.title-r:first-child {
	padding-top: 2.5rem;
}

.title-l:first-child {
	padding-top: 2.5rem;
}



.title-r {
	font-size: 3rem;
	color: var(--brs-darkest-grey);
	text-align: right;
	margin-right: 2.5rem;
	border-left: 8px solid var(--brs-darkest-grey);
	margin-left: 2rem;
	/* background-color: var(--brs-light-grey-tbackground); */
	z-index:2;
}


.title-l {
	font-size: 3rem;
	color: var(--brs-darkest-grey);
	text-align: left;
	margin-left: 2.5rem;
	border-right: 8px solid var(--brs-darkest-grey);
	margin-right: 2rem;
	/* background-color: var(--brs-light-grey-tbackground); */
	z-index:2;
}

.sectitleleft {
	position: relative;
	background-color: var(--brs-light-grey-background);
	z-index:2;
}

.sectitleleft::after {
	content: "";
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	right:100;
	transform: translate(4.9rem, 2.4rem);
	z-index:-1;
	background-color: var(--brs-light-grey-tbackground);
	
}

.sectiontitleright {
	position: relative;
	background-color: var(--brs-light-grey-background);
	z-index:2;
	
}

.sectitleright::after {
	content: "";
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	bottom:100;
	z-index:-1;
	background-color: var(--brs-light-grey-tbackground);
	transform: translate(-5rem, 2rem);
}





.crossleftfin {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	/* z-index:-1; */
	object-fit: cover;
	transform:translate(-5rem, -10rem) scale(-1,1);
	
}

.slogo {
	height:75%;
	z-index: 1;
	position:absolute;
	top:2.5rem;
	right:5.5rem;
	opacity: 0.5;
	
}

.mlogo {
	height:110%;
	position:absolute;
	top:0;
	opacity:0.25;
	z-index: 1;
	margin-left: 2.5rem;
}

.slogoleft {
	height:75%;
	z-index: 1;
	position:absolute;
	top:2.5rem;
	left:5.5rem;
	opacity: 0.5;
	
}

.mlogoleft {
	height:110%;
	position:absolute;
	top:0;
	opacity:0.25;
	/* z-index: -1; */
	right:0;
	margin-right: 2.5rem;
}

/* nav styling start */
header  {
	
    height:10vh;
	background-color: rgba(red, green, blue, 0);
	position: fixed;
	width:100%;
	display:flex;
	justify-content: space-between;
	z-index: 800;
}


.nav-toggle {
	display:none;
}

.nav-toggle-label {
	position:absolute;
	top:0;
	left:0;
	margin-left: 2.5rem;
	height:100%;
	display:flex;
	align-items: center;
}

.nav-toggle-label span {
	display:block;
	background:white;
	height: 3.5px;
	width: 1.75em;
	border-radius: 2px;
	position:relative;
	cursor: pointer;
	background: var(--brs-red); }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display:block;
	background:white;
	height: 3.5px;
	width: 2.5em;
	border-radius: 2px;
	position:relative;
	cursor: pointer;
	background: var(--brs-red);
  	
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position:absolute;
}

.nav-toggle-label span::before {
	bottom:9px;
}

.nav-toggle-label span::after {
	top:9px;
}

nav {
	position:absolute;
	top:0;
	left:0;
	background: var(--brs-dark-grey-opacity);
	width:100%;
	height:100vh;
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out; 
}

nav ul {
	margin:0;
	padding:0;
	list-style: none;
	margin-top:5vh;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

nav li {
	margin-bottom: 1em;
	margin-left: 2.5rem;
}

nav a {
	color: var(--brs-light-grey-background);
	text-decoration: none;
	font-size: 2rem;
	text-transform: uppercase;
	opacity:0;
	transition: opacity 250ms ease-in-out;
}

nav a:hover {
	color: var(--brs-yellow);
	font-style: italic;
}


.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

.logotext {
	position:absolute;
	top:5%;
	right:0;
	margin-right: 2.5rem;
	height:100%;
	display:flex;
	align-items: center;
	font-size: 3.5em;
	font-family: proxima-nova, sans-serif;
	font-weight: 900;
	font-style: normal;
	background: var(--brs-gradient);
	background-clip:text;   
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


/* nav styling end */

.hero {
	min-height:100vh;
	background-color: var(--brs-light-grey-background);
	position:relative;
	overflow-x: hidden;
	/* z-index: -2; */
	
}

.hero h1 {
	
	font-size: 3.8rem;
	margin-top:15vh;
	margin-left:2rem;
	/* z-index: 10; */
	padding-left: 1rem;
	font-weight: 700;
	border-left: 8px solid var(--brs-title-grey);
	
	
}

.hero h2 {
	margin-left:2rem;
	/* z-index: 10; */
	padding-left: 1rem;
	color: var(--brs-title-grey);
	font-size: 1.8rem;
	font-weight: 1200;
  	-webkit-text-fill-color:var(--brs-light-grey-background); /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: var(--brs-title-grey);
	border-left: 8px solid var(--brs-title-grey);
}

.herovid {
	
	min-width:75vw;
	max-width:400px;
	height:auto;
	position: absolute;
	bottom:100;
	left:0%;	
	/* z-index: -1; */
	transform: translate(0,4rem);
}

.inlinecontact {
	text-decoration: none;
	background: var(--brs-gradient);
	background-clip:text;   
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top:2.5rem;
	cursor: pointer;
	/* z-index: 999; */
}

.aboutimg {
	width:300px;
	object-fit: cover;
	align-self: center;
	transform: translate(10%);
	height:300px;
	border-radius: 50%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


.about p {
	margin-top:1rem;
	background-color: var(--brs-light-grey-opacity2);
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	color:var(--brs-light-grey-background);
	/* z-index: 1; */
	text-align: justify;
	
}



.about a:hover {
	-webkit-text-fill-color: var(--brs-dark-blue);
	font-style: italic;
} 

.what {
	height:auto;
	background-color: var(--brs-light-grey-background);
	position:relative;
	overflow: hidden;
	/* z-index: -2; */
}

.what h3 {
	border-bottom: 1px solid var(--brs-darkest-grey);
	z-index:100;
	margin-bottom: 5rem;
}

.what p {
	margin-top:1rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	color:var(--brs-darkest-grey);
	/* z-index: 1; */
	padding: 2px;
	text-align: justify;
}

.whos {
	height:auto;
	background-color: var(--brs-light-grey-backgroundt);
	position:relative;
	/* z-index: -2; */
}



.whos h3 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}

.intro p {
	margin-top: 4rem;
	margin-left:2.5rem;
	margin-right:2.5rem;
}

.intro h3 {
	border-bottom: 1px solid var(--brs-darkest-grey);
	z-index: 3;
}
.oview {
	margin-top:2.5rem;
	height: 300px;
	width:100%;
}

.intro {
	position:relative;
	
}

.lastp {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top:0.5rem;
	font-size: 1.2rem;
	/* z-index: 1; */
	background: var(--brs-gradient);
	background-clip:text;   
	-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  font-weight: 400;
}

.intro .lastp {
	border-top: 2px solid var(--brs-red);
}

.energyergo {
	height:auto;
	position:relative;
	/* z-index: -2; */
}

.energyergo .title-l:first-child {
	padding-top: 7rem;
}
.sectorimagerightalign {
	margin-top: 2rem;
	width:100%;
	object-fit: cover;
	transform: translate(2.5rem);
	margin-bottom: 5rem;
	border-left: 8px solid var(--brs-red);
}

.sectorimageleftalign {
	margin-top: 2rem;
	width:100%;
	object-fit: cover;
	transform: translate(-2.5rem);
	margin-bottom: 5rem;
	border-right: 8px solid var(--brs-red);
}

.infocard {
	position:relative;
	margin-top: 2.5rem;
	margin-bottom:2.5rem;
}

.infocard h4 {
	border-top: 1px solid var(--brs-mid-grey);
	text-transform: uppercase;
	font-size: 0.7rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	color: var(--brs-mid-grey);
	
}


.infocard p {
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
	margin-left: 4rem;
	margin-right: 2.5rem;
	max-width: 400px;
	font-size: 0.9rem;
	color:var(--brs-darkest-grey);
	/* z-index: 1; */
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: italic;
}

.energyergo h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
	z-index: 3;
}

.bphysics {
	position:relative;
	
}



.bphysics .title-r:first-child {
	padding-top: 7rem;

}
.bphysics h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
	z-index: 3;
}

.lastpr {
	text-align: right;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top:0.5rem;
	font-size: 1.2rem;
	font-weight: 400;
	/* z-index: 1; */
	background: var(--brs-gradient);
	background-clip: text;   
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.who {
	position:relative;
}



.who h3 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}
.sustainablecommunities {
	position:relative;
}

.sustainablecommunities .title-l:first-child {
	padding-top: 7rem;
}

.sustainablecommunities h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}

.assetsurveying {
	position:relative;
}

.assetsurveying .title-r:first-child {
	padding-top: 7rem;
}

.assetsurveying h2 {
	border-bottom: 1px solid var(--brs-darkest-grey);
}


.getintouch {
	position:relative;
	background-color: var(--brs-darkest-grey);
	/* z-index: -10; */
	height:auto;
}

.getintouch .sectitleright::after {
	background-color: var(--brs-mid-grey);
	content: "";
	height:auto;
	width:100%;
}

.getintouch .title-l:first-child {
	padding-top: 7rem;
}

.getintouch h1 {
	color: var(--brs-light-grey-background);
	border-right: 8px solid var(--brs-light-grey-background);
}

.getintouch h2 {
	color: var(--brs-light-grey-background);
	border-bottom: 1px solid var(--brs-light-grey-background);
	border-right: 8px solid var(--brs-light-grey-background);
}

.infocardlast {
	position:relative;
	margin-top: 2.5rem;
	padding-top: 1rem;
	padding-bottom:1rem;
	background-color: var(--brs-darkest-grey);
	z-index: 2;
	height:auto;
}

.infocardlast h4 {
	font-size: 1.2rem;
	padding-top: 4.5rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	Margin-bottom: 5rem;
	color: var(--brs-light-grey-background);
	font-weight: 400;
}
.fbody {
	margin-top: 0.9rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	font-size: 0.9rem;
	color:var(--brs-light-grey-background);
	/* z-index: 1; */
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-bottom:2.5rem;
}

.flogo {
	margin-top: 2.5rem;
	width:auto;
	/* z-index: -1; */
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}


.endsection ul {
	color: var(--brs-mid-grey);
	list-style: none;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	cursor: pointer;
	position:relative;
	z-index:999;
}

.endsection a {
	text-decoration: none;
	padding: 5px;
	color: var(--brs-mid-grey);
	cursor: pointer;
	position:relative;
	z-index:999;
}


.smallprint {
	margin-top: 0.9rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	max-width: 400px;
	font-size: 0.7rem;
	color:var(--brs-light-grey-tbackground);
	z-index: 1;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: italic;
	
	text-align: center;
}

.contactpar {
	color: var(--brs-light-grey-background);
	z-index:10;
}

.contactpar a {
	text-decoration: none;
	color: var(--brs-yellow);
}


/* Non visible desktop html element styling here */

#desktopwhattitle {
	display:none;
}

#whatdecogrid {
	display:none;
}

#rviz {
	display:none;
}

/* non visible desktop elements end */



/* Breakpoint for desktop version */


@media screen and (min-width: 1024px) {
	
	/* Hero Section Styling Starts Here */
	.hero {
	display:grid;
	height:100vh;
	grid-template-columns:  0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
	grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
	grid-gap: 5px;
	}


	.hero h1 {
	all:unset;
	grid-area: 2/1/3/4;
	font-size: 2.8rem;
	margin-left:2rem;
	font-weight: 700;
	justify-self:end;
	align-self: flex-end;
	
	}
	.hero h2 {
		all:unset;
		grid-area: 6/4/7/7;
		font-size:2.6rem;
		margin-left:2rem;
		color: var(--brs-title-grey);
		font-weight: 1200;
  		-webkit-text-fill-color:var(--brs-light-grey-background); /* Will override color (regardless of order) */
  		-webkit-text-stroke-width: 1.5px;
		-webkit-text-stroke-color: var(--brs-title-grey);
		align-self: center;
	}

	.heroline {
		grid-area:3/4/8/5;
		border-left:5px solid var(--brs-title-grey);
	}

	.herovid {
	all:unset;
	grid-area: 4/1/8/4;
	width:100%;
	height: 100%;
	object-fit: cover;
	}

	/* Hero Section Syling Ends Here */
	/* What Section Styling Starts Here */

	.what {
		display:grid;
		height:100vh;
		grid-template-columns:  0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
		grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
		grid-gap: 5px;
	}

	.whos {
		display:none;
	}

	#desktopwhattitle {
		all:unset;
		grid-area: 3/2/4/4;
		align-self: flex-end;
		font-size: 2.6rem;
		font-family: forma-djr-display, sans-serif;
		font-style: normal;
		font-weight: 700;
		color: var(--brs-darkest-grey);
	}
	
	#whatdecogrid {
		all:unset;
		height:100%;
		max-width: 100%;
		object-fit: cover;
		grid-area: 2/2/4/4;
		transform:scale(-1,1);
		 
	}	

	#whatvertical1 {
	grid-area:1/4/4/5;
	border-left:5px solid var(--brs-title-grey);
	}

	#whatvertical2 {
		grid-area: 7/-5/8/-4;
		border-right:5px solid var(--brs-title-grey);
	}
	#whathorizontal1 {
		grid-area:3/2/4/4;
		border-bottom:1px solid var(--brs-darkest-grey)
	}

	#firstintro {
		all:unset;
		grid-area:4/2/5/4;
		align-self: flex-end;
		font-size:0.8rem;
		font-weight: 500;
		max-width: 400px;
	}

	.dropcap {
	all:unset;
	font-size: 2rem;
	color: var(--brs-red);
	}

	#secondintro {
		all:unset;
		grid-area:5/2/6/4;
		align-self: flex-start;
		margin-top:0.3rem;
		font-size:0.8rem;
		font-weight: 500;
		max-width:400px;
	}

	#inlinecon {
		all:unset;
		grid-area:7/5/8/7;
		background: var(--brs-gradient);
		background-clip:text;   
		-webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		text-transform: uppercase;
		font-weight: 900;
		align-self: flex-start;
	}
	
	#rviz {
		all:unset;
		max-width:90%;
		height:90%;
		align-self: center;
		justify-self: center;
		grid-area: 2/4/7/8;
		border-radius: 25%;
		
	}

	.inlinecontact {
		all:unset;
	}

	.aboutimg {
		display:none;
	}


	.intro {
		display:none;
	}

	.servicesscreendesktop {
		display:none;
	}

	.contactscreendesktop {
		display:none;
	}

	

}